
<div id="wrapper">
	<div id="main">

					<!-- Post -->
		<article class="post">
			<header>
					 <div class="title">
  					<h2><a>
						Rapport
					</a></h2>
  				<h6>FILLANCQ Lucas, JUSKIEWENSKI Léa, BALAGUER Théotime, CONFORTO Déborah</h6>
				</div>
			</header>
							

			<div class="menu1"> <!-- début de la boite contenant les onglets -->
			  <a class="onglet" routerLink="../rapport"> INTRODUCTION </a>
			<a class="onglet" routerLink="../back"> BACK </a>
			  <span class="onglet-actif"> FRONT </span> <!-- onglet inactif -->
			 </div>

			<br><h3>Page d’accueil public/membre</h3><p style="text-indent: 30px;">
			Les pages d’accueil de l'interface public et membres sont en fait pratiquement identiques à la seule différence qu’elles n’ont pas exactement les mêmes onglets dans la barre de menu à l’entête de la page. En effet, elles affichent toutes deux le classement et la carte pour suivre le parcours des équipes ainsi que leur score. <br>
			<br>
			Pour afficher le classement, on utilise une fonction getTeams() dans notre fichier typescript du composant “new” qui va récupérer toutes les équipes contenues dans notre base de données avec chacun de leurs champs. Ensuite, dans le fichier html, on utilise une boucle *ngFor pour afficher le nom, la distance parcourue, le score et la photo de chaque équipe contenue dans notre table Team de notre base de donnée plus un bouton “Détail” qui nous redirige vers une page de détail de l’équipe en question. <br>
			<br>
			On affiche la carte generée par le module <b>leaflet</b>. On utilise les paramètres de longitude et latitude pour centrer la marque, le but étant que toutes les équipes soient visibles sur la carte lorsque la page s’affiche. On a également ajouté la création de marqueurs à ajouter sur la carte sur la position de l’équipe avec comme icône la photo de l’équipe. Mais ceci n’étant pas une priorité pour la finalité de notre projet, cela sera donc finalisé après la soutenance pour accorder cette fonctionnalité au public de la prochaine course INSA EXPRESS.<br>
			</p>
			<h3>Détails des équipes</h3><p style="text-indent: 30px;">
			Lorsqu’on clique sur le nom d’une équipe du classement, on est redirigé vers une page qui affiche le composant “TeamDetails” correspondant à l’équipe sélectionnée grâce à la route “teams/:id”. Ce composant utilise également la même fonction getTeams() expliquée précédemment ce qui lui permet d’afficher le nom, l’id, le score, la distance parcourue, la photo de l’équipe correspondant à l’id dans une première division de la page. Puis, dans une seconde division, on créé un scrollbar dans le html avec une boucle *ngFor pour afficher tous les défis réalisés par l’équipe.<br>
			</p>
			<h3>Onglets de la barre de menu</h3><p style="text-indent: 30px;">
			Dans l'interface public les onglets sont <b>“Classement”, “Carte”, “Défis”, “Charte du participant” et “Se Connecter”</b> (qui est remplacé par l’onglet “Déconnexion” quand on passe sur l’interface membres en se connectant). <br>
			Pour les deux premiers, c’est simple, puisqu’on a juste un décalage de la page vers l’emplacement de la carte ou du classement grâce à un RouterLink vers la division d’ID “leaderboard” (pour le classement) ou “mapfrance” (pour la carte). <br>
			<br>
			L'onglet "defis" donne la liste des défis à réaliser. L'onglet "charte" redirige vers "la charte du participant" à INSA EXPRESS.
			<br>

		</article>

	</div>
	<!-- Sidebar -->
		<section id="sidebar">

	<!-- Intro -->
		<section id="intro">
			<a href="#" class="logo"><img src="/assets/images/insaexpress_logo.png" alt="" /></a>
			<header>

			</header>
		</section>


			<!-- Footer -->
		<section id="footer">
			<ul class="icons">
				<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
				<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
		</section>

		</section>

</div>

