
<div id="wrapper">
		<div id="main">

			<!-- Post -->
			<article class="post">
				<header>
    				<div class="title">
     				 <h2><a>
							Rapport
						</a></h2>
     				 <h6>FILLANCQ Lucas, JUSKIEWENSKI Léa, BALAGUER Théotime, CONFORTO Déborah</h6>
					</div>
				</header>

				<div class="menu1"> <!-- début de la boite contenant les onglets -->
				  <a class="onglet" routerLink="../rapport"> INTRODUCTION </a> <!-- onglet ACTIF -->
				  <span class="onglet-actif"> BACK </span> <!-- onglet inactif -->
				  <a class="onglet" routerLink="../front"> FRONT </a> <!-- onglet inactif -->
				</div>


				<br><p style="text-indent: 30px;">Tout d'abord, il a été nécessaire de passer par une étape de lecture et de compréhension de la base de donnée créée pour le site précédent afin de pouvoir se lancer dans la construction du front avec de bonnes bases. Voilà ce qui en est ressorti :<br><br><img src="assets/images/DB.jpg" height="70%" width="70%" alt="" /><br><br>Nous avons donc également précisé à quoi allait servir chacune de ces tables.
				<br>
				<br>
				La table <b><span style="color: #CC3333;">Team</span></b> permet d’associer à chaque ID d’équipe un nom, une photo, une position, une distance parcourue, un score et l’état dans lequel elle se trouve (disqualifiée, cachée). Des méthodes ont également été ajoutées au code de l’API permettant d’actualiser le score des équipes. <br>
				Ensuite, la table Participant associe le nom d’un participant à l’ID de son équipe et à son numéro de téléphone.<br>
				<br>
				La table <b><span style="color: #CC3333;">Position</span></b> associe une balise à une équipe, à la vitesse de déplacement de la balise et à sa date  de création.<br>
				La table <b><span style="color: #CC3333;">Balise</span></b> permet d’associer à chaque Balise un numéro de série, son état de validité ainsi que l’équipe qui la porte. <br>
				<br>
				La table <b><span style="color: #CC3333;">Achievement</span></b> associe à un nom de Défi, le nombre de points attribués à l’équipe qui le relève, l’utilisateur orga qui l’a créé, sa date de création et les équipes qui ont relevé ce défi.<br>
				<br>
				Enfin, la table <b><span style="color: #CC3333;">TeamAchievement</span></b> permet l’association d’une équipe au défi qu’elle a relevé ainsi qu’à l’image qui le prouve.<br>
				Il y a également une utilisation de signaux pour créer des instances de nos tables définies précédemment en particulier une qui met à jour la position et la distance parcourue par une balise (soit la position et la distance parcourue par l’équipe à laquelle elle appartient) à l’aide de (insaexpress-gps). Il y en a aussi trois autres qui permettent de mettre à jour ou supprimer le score d’une équipe dans la table Achievement ou TeamAchievement.<br>
				<br>
				Nous avons effectué une modification dans notre base de donnée : nous avons ajouté une table <b><span style="color: #CC3333;">File</span></b> qui prend un champ FileField qui doit contenir le fichier picture -plus précisement le lien vers ce fichier. On a alors ajouté comme clé étrangère dans la table TeamAchievement, l'objet File contenant la photo associé au défi. L’utilité de cette table sera précisée dans la partie FRONT)Soumission/Validation des défis).<img src="assets/images/DB_modif.jpg" height="70%" width="70%" alt="" /><br>

				</p>

			</article>




				</div>

<!-- Sidebar -->
	<section id="sidebar">

		<!-- Intro -->
			<section id="intro">
				<a href="#" class="logo"><img src="/assets/images/insaexpress_logo.png" alt="" /></a>
				<header>

				</header>
			</section>

	</section>
</div>





