
<div id="wrapper">
	<div id="main">

		<!-- Post -->
		<article class="post" style="width: 40%; float: right;">
			<header>
				<div class="title">
					<h2><a>Les équipes</a></h2>
				</div>
			</header>

			<div *ngFor="let team of teams ">
				<button class="button large fit" placement="left" ngbPopover="{{team.name}}" popoverTitle="la liste" ><a href="#">{{team.name}}</a></button>

			</div>

			<button type="button" class="button large fit" placement="bottom"
			        ngbPopover="hey" >
			  Popover on bottom
			</button>

		</article>

		<article class="post" style="width: 40%; float: left;">
			<header>
				<div class="title">
					<h2><a>Les défis</a></h2>
				</div>
			</header>

			<div *ngFor="let achievement of achievements">
				<h2 class="button large fit" ><a href="#">{{achievement.name}}</a></h2>
			</div>
		</article>


		

	</div>


			

</div>






