<!--
<a href="http://toto.fr/{{path}}">Lien vers mon url</a>
<a [href]="urlComplete">Lien vers mon url</a>
-->

<div id="wrapper">	
	<div id="main">
	<!-- Post -->
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="single.html">Relève des défis</a></h2>
			</div>
			<div class="meta">
				<time class="published" datetime="2015-11-01">November 1, 2015</time>
			</div>
		</header>

		<section>
			<h3>Selectionne un défi</h3>
			<p>defi : {{achievementid}} et {{selectedDefi}} et {{achievement.id}}</p>
			<p>equipe : {{test | json}} et {{file}}</p>
			
				<div class="row gtr-uniform">
					<div class="col-12">
						<select name="defis" id="demo-category" [(ngModel)]="selectedDefi">
							<option value="">- Afficher les défis -</option>
							<option *ngFor="let defi of achievements"  value="{{defi.id}}">{{defi.name}}</option>
						</select>
						<select name="equipe" id="demo-category" [(ngModel)]="selectedEquipe" >
							<option value="">- Choisis ton équipe -</option>
							<option *ngFor="let equipe of teams" value="{{equipe.id}}">{{equipe.name}}</option>
						</select>
					</div>
				</div>
			<br/>
		    <br/>
		    <input type="file" name="photos" (change)="onChange($event)" />
		    <br/>
		    <br/>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
		    <div class="col-12"  >
		    	<button type="submit">Valider</button>
			</div>

		  </form>
		</section>
		
	</article>
	</div>


	<!-- Sidebar -->
	<section id="sidebar">

		<!-- Intro -->
		<section id="intro">
			<a href="#" class="logo"><img src="/assets/images/insaexpress_logo.png" alt="" /></a>

		<section>
				<h1 style="font-size: 200%;">Classement</h1>
				<div class = "leaderboard">
				<div class="mini-post">
				<article  *ngFor="let team of teams">
					<header>
						<h3>{{team.name}}</h3>
						<p>a déjà parcouru {{team.distance/1000}}km</p>
						<p>{{team.score}}pts</p>
						<a href="#" class="author"><img src="{{ team.picture }}" alt="" /></a>
					</header>
					
				</article>
				</div>  
				</div>
						
			</section>
		</section>

		

		<!-- Footer -->
		<section id="footer">
				<ul class="icons">
					<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
					<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
		</section>

	</section>

</div>







