<!--
<a href="http://toto.fr/{{path}}">Lien vers mon url</a>
<a [href]="urlComplete">Lien vers mon url</a>
-->

<div id="wrapper">	
	<div id="main">
	<!-- Post -->
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="single.html">Relève des défis</a></h2>
			</div>
			<div class="meta">
				<time class="published" datetime="2015-11-01">November 1, 2015</time>
			</div>
		</header>

		<section>
			<h3>Selectionne un défi</h3>
				<div class="row gtr-uniform">
					<div class="col-12">
						<select name="equipe" id="demo-category">
							<option value="">- Ton equipe-</option>
							<option value="lea">Lea</option>
							<option value="lulu">Lulu</option>
							<option value="theotime">Theotime</option>
							<option value="VersMetz">VersMetz</option>
						</select>
					</div>
					<div class="col-12">
						<select name="defis" id="demo-category">
							<option value="">- Afficher les défis -</option>
							<option value="Photo insolite">Photo insolite</option>
							<option value="Se faire prendre par une famille">Se faire prendre par une famille</option>
							<option value="Se faire offrir le goûter">Se faire offrir le goûter</option>
							<option value="Se faire prendre par un tank">Se faire prendre par un tank</option>
							<option value="Panneau des villes">Panneau des villes</option>
							<option value="Arrivée sans aides dans les délais">Arrivée sans aides dans les délais</option>
						</select>
					</div>
				</div>
			<br/>
		    <br/>
		    <form [formGroup]="form" (ngSubmit)="onSubmit()">
		    <input type="file" name="photos" (change)="onChange($event)" />
		    <br/>
		    <br/>
		    <div class="col-12">
		    	<button type="submit">Valider</button>
			</div>

		  </form>
		</section>
		
	</article>

	<article class="post">
		<header>
			<div class="title">
				<h2><a href="single.html">Observe les défis</a></h2>
			</div>
			<div class="meta">
				<time class="published" datetime="2015-11-01">November 1, 2015</time>
			</div>
		</header>
		<a href="single.html" class="image featured"><img src="/assets/images/pic01.jpg" alt="" /></a>
		<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
	
		
	</article>
	</div>


	<!-- Sidebar -->
	<div id="sidebar">

	<!-- Intro -->
		<section id="intro">
			<a href="#" class="logo"><img src="/assets/images/insaexpress_logo.png" alt="" /></a>
			<header>
				
			</header>
		</section>



	<!-- Mini Posts -->
		<section>
			<div class="mini-posts">

				<!-- Mini Post -->
					<article class="mini-post">
						
					</article>
			</div>
		</section>


	<!-- Footer -->
		<section id="footer">
			<ul class="icons">
				<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
				<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
		</section>

	</div>

</div>







